.calculator {
    min-width: 200px;
    padding: 10px;
    display: grid;
    grid-template-columns: 4fr 4fr 4fr 4fr 4fr;
    grid-template-rows: auto;
    grid-template-areas:
            "header header header header header"
            "main main main sidebar sidebar"
            "footer footer footer eq eq";
}
#result {
    background-color: #fff;
    line-height: 1.5rem;
    padding: 10px 20px;
    margin: 0;
    border-bottom: 1px solid #e0e0e0;
}
.log {
    height: 20px;
    word-break: break-all;
    overflow: hidden;
}
#error {
    padding: 10px;
}
.variables input.var-name {
  width: 30px
}
.variables input.var-val{
    width: 80px
}
.variables li {
    min-width: 170px;
}
.input {
    grid-area: header;
}
.input input {
    text-align: right;
}
.digits {
    grid-area: main;
}
.digits .btn {
    width: 33%;
}
.operations {
    grid-area: sidebar;
}
.operations .btn {
    width: 50%;
}
.options {
    grid-area: footer;
}
.eq {
    grid-area: eq;
}